body {
	overflow: hidden;
}

#jtvembed {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 0;
}

#chatbox {
	overflow: auto;
	position: absolute;
	z-index: 50;
}

#controls {
	background-color: gray;
	border: white;
	border-radius: 0.5ex;
	left: 10px;
	padding: 0.5ex;
	position:absolute;
	top: 44px;
	z-index: 100;
}

#controls > div {
	margin-bottom: 5px;
}

#controls > div:last-child {
  margin-bottom: 0;
}

#controls button {
	width: 140px;
}

#controls button.half-size {
	width: 70px;
}
/* vim: set sw=2 ts=2 noet: */
